{{- $machine := promptStringOnce . "machine" "Machine type (personal/work)" "personal" -}}
{{- $email := promptStringOnce . "email" "Email address" "amirjak@gmail.com" -}}
{{- $name := promptStringOnce . "name" "Full name" "Amir Jakoby" -}}

[onepassword]
  command = "op"
  mode = "service"
  prompt = false

[data]
  machine = {{ $machine | quote }}
  email = {{ $email | quote }}
  name = {{ $name | quote }}
